body {
	font-size:100%;
}
.photos{
	width:400px;
	max-width:100%;
}

 ul {
 list-style-type: none;
 }




 @media screen and (min-width:481px)
{
	
	#memberlist
	{
		float: left;
		margin: 0 0 0 0;
		width: 50%;
	}
			#phonelist
	{
		float: none;
		margin: 0 0 0 550px;
		width: 50%;
	}
	font-size: 16px;

}

@media screen and (max-width:480px)
{
	#container { width: 400px; }
	

	#memberlist
	{
		float: left;
		width: auto;
		margin: 0;
	}
		#phonelist
	{
		float: none;
		margin: 0;
		width: auto;
	}
	 font-size: 22px;
	
}