/*#my-page {
    height   : 50%;
    margin     : 0;
    padding    : 0;
}
#my-page .ui-content, #my-listview {
    min-height : 100%;
    height     : 100%;
    margin     : 0;
    padding    : 0;

}
#my-listview .ui-li {
    height : 100px;
}*/